<label class="text-[7px] font-black text-slate-500 uppercase tracking-widest ml-3 mb-0.5">Selecionar Posto Operacional</label>
<select name="unidade_id" 
        class="bg-white dark:bg-slate-950 border-none rounded-lg px-4 py-2 text-[10px] font-bold text-slate-900 dark:text-white focus:ring-2 focus:ring-red-600 transition-all duration-200 cursor-pointer shadow-sm"
        hx-get="{% url 'compor_mapa' %}" 
        hx-target="#main-section" 
        hx-include="[name='categoria']"
        hx-push-url="true">
    <option value="">Selecione o Posto...</option>
    {% for u in todas_unidades %}
    <option value="{{ u.id }}" {% if u.id == unidade_selecionada.id %}selected{% endif %}>
        {{ u.nome }}
    </option>
    {% endfor %}
</select>